
/* Top cards */
.top-cards {
  /*border: 1px solid blue;*/
  margin-top: -50px;
  margin-bottom: 3em;
}


/* overview */
.overview {
  padding-bottom: 2em;
}

h2 {
  color: var(--gray);
}
.card-small {
  /*border: 1px solid green;*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1em;
  background: var(--cardGray);
  border-radius: 8px;
  padding: 1.7em;
}

.card-small p {
  margin: 0;
}

.card-small-views {
  /*border: 1px solid rgb(152, 59, 228);*/
  color: var(--cardTitle);
  font-weight: bold;
  font-size: .9em;
}

.card-small-icon {
  /*border: 1px solid rgb(128, 115, 0);*/
  text-align: right;
}

.card-small-number {
  /*border: 1px solid rgb(128, 0, 128);*/
  font-weight: bold;
  font-size: 2.5em;
  line-height: .9;
}

.card-small-percentage {
  /*border: 1px solid rgb(0, 45, 128);*/
  text-align: right;
  display: flex;
  align-items: flex-end;
  color: var(--lime-green);
  justify-content: flex-end;
  font-size: .9em;
}

.card-small-percentage.is-danger {
  color: var(--bright-red);
}

.card-small-percentage span {
  /*border: 1px solid rgb(0, 45, 128);*/
  display: flex;
  align-items: center;
}

.card-small-percentage img {
  /*border: 1px solid rgb(0, 45, 128);*/
  margin-right: 5px;
}



@media screen and (min-width: 1024px){
  .grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .header-grid {
      display: grid;
      grid-template-columns: 1fr 200px;
  }
  .header-total {
      border: none;
  }
}

.is-dark-mode {
  --cardGray: #252b43;
  --baseBackground: #1d2029;
  --baseColor: white;
  --gray: #8088ad;
  --lightGray: #1d2029;
  --cardTitle: #8088ad;
  --switchSpinner: #282943;
  --switch: linear-gradient(to right, #4796d2 0%, #37c38f 100%);
}

.is-light-mode {
  --gray: #5f616d;
  --cardGray: #edf0f9;
  --lightGray: #f8f9fe;
  --baseBackground: white;
  --baseColor: #1d2029;
  --cardTitle: #6f717e;
  --switchSpinner: white;
  --switch: #5f616d;
}
@media (prefers-color-schema: dark) {
  :root {
      --cardGray: #252b43;
      --baseBackground: #1d2029;
      --baseColor: white;
      --gray: #8088ad;
      --lightGray: #1d2029;
      --cardTitle: #8088ad;
      --switchSpinner: #282943;
      --switch: linear-gradient(to right, #4796d2 0%, #37c38f 100%);
  }
}